

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
height: 100vh;
font-family: 'Petrona', serif;
display: flex;
background-color: #E9E0C9;
color: #292929;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

h1{
font-size: 65px;
}
h3{
font-weight: 100;
display: flex;
justify-items: center;
}

span{
font-weight: lighter;
}

.logo{
width: 200px;
height: auto;
display: flex;
padding: 25px;
}

#start-screen{
display: flex;
justify-content:space-between;
align-items: center;
flex-direction: column;
padding: 10px;
}

#redbutton{
width: 100px;
height: auto;
display: flex;
}

#resetBtn{
padding: 10px;
margin-top: 40px;
font-family: 'Petrona', serif;
font-size: medium;
background-color: #E9E0C9;
border-radius: 15px; 
border: 1px solid  #292929;  
}

.memory-game{
width: 480px;
height: 700px;
margin: auto;
display: flex;
flex-wrap: wrap;
perspective: 1000px;
border-radius: 15px;
/* border: 2px solid lime; */

}

.memory-card{
width: calc(25% - 10px) ;
height: calc(33.333% - 10px);
margin: 5px;
position: relative;
border-radius: 15px;
/* border: 2px solid aqua; */
transform: scale(1);
transform-style: preserve-3d;
transition: transform .2s;
}

.front-face,
.back-face{
width: 100%;
height: 100%;
/* padding: 20px; */
position: absolute;
border-radius: 15px;
/* border: 2px solid deeppink; */
backface-visibility: hidden;
}

.front-face{
transform: rotateY(180deg);
}


/* animation */
.memory-card:active{
transform: scale(.97);
transition: transform .2s;
}

.memory-card.flip{
transform:rotateY(180deg);
}

/* timer */
#js_timer {
text-align: center;
}
#timer{
background: #FEDA85;
padding: 10px;
color: #E77395;
border-radius:15px;
font-weight: bold;
font-size: larger;
width: 100px;
margin: 50px auto;
}